@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="shdw_box">    
<section id="content">

@model POSManagementSystem.Models.User

@{
    ViewBag.Title = "Create";
}



    <h2>User Entry</h2>
        
        <table>
            <tr>
            <td>
                <label>First Name :</label><br />
	       @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
	       <span class="note">*</span>
            </td>
            </tr>
            
             <tr>
            <td>
                <label>Lastname :</label><br />
	        @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
	       <span class="note">*</span>
            </td>
            </tr>
            
             <tr>
            <td>
                <label>Username :</label><br />
	           @Html.EditorFor(model => model.userName)
            @Html.ValidationMessageFor(model => model.userName)
	           <span class="note">*</span>
            </td>
            </tr>

            <tr>
            <td>
                <label>Password :</label><br />
	           @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
	           <span class="note">*</span>
            </td>
            </tr>

            
            <tr>
            <td>
                <label>User Role :</label><br />
	           @{
   List<SelectListItem> listItems= new List<SelectListItem>();

  
   listItems.Add(new SelectListItem
        {
            Text = "User",
            Value = "User",
        });
   listItems.Add(new SelectListItem
        {
            Text = "Admin",
            Value = "Admin"
        });

   listItems.Add(new SelectListItem
   {
       Text = "Super Admin",
       Value = "Super Admin"
   });
}
                @Html.DropDownListFor(model => model.userRole, listItems, "-- Select Role --")
	           <span class="note">*</span>
            </td>
            </tr>
            
        </table>
    
      
       <input type="submit" class="submit" id="user_entry"  value="Entry" />
    
    <div>
    @Html.ActionLink("Back to List", "Index")
</div>
   	
    
  

     </section>		
</div>

<script>
    $(document).ready(function () {

        $("#user_entry").click(function () {

                var firstName = $("#firstName").val();
                var lastName = $("#lastName").val();
                var userName = $("#userName").val();
                var password = $("#password").val();
                var userRole = $("#userRole").val();
                
                if (firstName == null || firstName == "") {
                    hudMsg('error', 'First Name Missing', 3000);
                    return false;
                }
                if (lastName == null || lastName == "") {
                    hudMsg('error', 'Last Name Missing', 3000);
                    return false;
                }
                if (userName == null || userName == "") {
                    hudMsg('error', 'Username Missing', 3000);
                    return false;
                }
                if (password == null || password == "") {
                    hudMsg('error', 'Username Missing', 3000);
                    return false;
                }
                if (userRole == null || userRole == "") {
                    hudMsg('error', 'Username Missing', 3000);
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "http://localhost:1587/User/Create",
                    data: "firstName=" + firstName + "&lastName=" + lastName + "&userName=" + userName + "&password=" + password + "&userRole=" + userRole,
                    success: function (data) {

                        //alert("Data Saved Successfully");
                        hudMsg('success', 'Record Saved successfully', 3000);
                        $("#firstName").val("");
                        $("#lastName").val("");
                        $("#username").val("");
                        $("#password").val("");

                    }
                });


        });



    });


</script>


