@model POSManagementSystem.Models.Brand

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Brand</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.categoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.categoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.brandName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.brandName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.updatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.updatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
